[Unit]
Description=CouchDB Server
After=network.target

[Service]
User=couchdb
Group=couchdb
Type=simple
StandardOutput=null
StandardError=journal
Restart=always
StartLimitInterval=10
StartLimitBurst=5
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o couchdb -g couchdb -d /var/run/couchdb
PIDFile=/var/run/couchdb/couchdb.pid
Environment="ERL_FLAGS=-pidfile /var/run/couchdb/couchdb.pid -heart"
ExecStart=/usr/bin/couchdb

[Install]
WantedBy=multi-user.target
